tbody tr td {
    border-bottom: 1px dotted #e0e0e0;
    padding: 15px;
    border-top: 1px dotted #e0e0e0;
}

thead tr {
    background-color: #8d7306;
    color: white;
}

table {
    border-collapse: collapse;
}

thead tr th {
    padding: 8px;
    text-transform: uppercase;
}