#registro .paquetes{
    display: flex;
    flex-direction: row;
}
#registro .paquetes> div{
    display: block;
    width: 20%;
    margin-left: 2%;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: bold;
    border: 1px solid gray;
    border-radius: 20px;
    padding: 20px;
}
#registro .paquetes div:first-child{
    margin-left: 0;
}
#registro .paquetes div ul{
    list-style: none;
    padding-left: 0;
}
#registro .paquetes .activo{
    background-color: #2e2e2e;
    color: white;
}