body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.buttn{
    padding: 10px 38px;
    border-radius: 3px;
    border: none;    
}

.buttn.buttn-primary {
    color: white;
    background-color: #8d7306;
}

/* common components */

.buttn.buttn-secondary {
    background-color: white;
    border: 1.2px solid #2BC7D0;
}

input.formControl {
    width: 100%;
    margin: 15px 0;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 2px solid #e4e4ee;
    padding: 10px 5px;
    font-size: 14px;
}

input.formControl:focus {
    outline: none;
    border-bottom: 2px solid #2bc7d0;
}

.box {
    display: flex;
    background-color: white;
    flex-direction: column;
    padding: 20px 20px 0 20px;
    border-radius: 5px;
    box-shadow: 1px 3px 5px 0px gainsboro;
    overflow: auto;
    max-height: calc(100vh - 200px);
    overflow-x: hidden;
}

.box div {
    margin-bottom: 20px;
}

.box label {
    display: block;
}

.box input {
    margin-top: 10px;
    display: block;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid black;
    box-sizing: border-box;
}

.box .buttons {
    text-align: right;
}

.box .notes {
    display: block;
    text-align: right;
    font-size: small;
    margin-top: 10px;
    text-transform: uppercase;
    color: gray;
    margin-bottom: -20px;
}