#referidos ul{
    list-style-type: none;
    padding-left: 0;
}

#referidos li{
    position: relative;
}

#referidos .content{
    display: flex;
    position: relative;
    background-color: #f3f3f3;
    margin-bottom: 10px;
    height: 50px;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
#referidos img{
    margin-right: 10px;
}

#referidos .toggle{
    position: absolute;
    top:10px;
    right: 20px;
}

#referidos .numeroHijos {
    position: absolute;
    top:10px;
    right: 40px;
    width: 25px;
    margin-right: 5px;
    height: 25px;
    border-radius: 25px;
    color: "white";
    background-color: #d5d5d5;
    color: "white";
    justify-content: center;
    align-items: center;
    display: flex;
}

#referidos .nivel {
    display: flex;
    width: 20px;
    height: 100%;
    justify-content: center;
    align-items: center;
    margin-bottom: 0;
    margin-right: 10px;
    color: white;
    background-color: #b3b1b1;
}