#mainGrid {
    display: grid;
    grid-template-columns: 200px auto;
    grid-template-rows: calc(100vh);
}
/* sidebar */
#sideBar {
    display: grid;
    grid-template-rows: 250px calc(100vh - 250px);
}
#sideBar .logotype{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0F334B;
    flex-direction: column;
}
#sideBar .logotype img {
    width: 120px;
}

#sideBar .menu {
    background-color: #113A55;
}

#sideBar .menu li a{
    width: "100%";
}

#sideBar .menu ul {
    list-style: none;
    padding-left: 0;
}
#sideBar .menu ul li{
    padding: 10px 15px;
}

#sideBar .menu ul li.active {
    border-left: 3px solid #e1d078;
    background-color: #0F344D;
}

#sideBar .menu ul li:hover {
    border-left: 3px solid #e1d078;
    background-color: #0F344D;
}

#sideBar .menu ul li a {
    color: white;
    text-decoration: none;
    display: inline-flex;
}

#sideBar .menu ul li a i {
    color: #1E8193;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
}

#sideBar .menu ul li:hover a i {
    color: #26B2BA;
}

/* main content */

#mainContent{
    display: grid;
    grid-template-rows: 50px calc(100vh - 50px);
    background-color: #f3f3f3;
}

/* top bar */

#topBar {
    background-color: white;
    box-shadow: 5px -1px 4px grey;
    display: grid;
    padding-right: 30px;
    justify-content: flex-end;
    /* grid-template-columns: auto 200px 170px; */
}

#topBar .saldos span {
    border: 1px solid #e2e2e2;
    border-radius: 5px;
    padding: 5px;
    margin-left: 20px;
}

#topBar button {
    float: right;
    padding: 5px 10px;
    background-color: green;
    color: white;
    border: none;
    border-radius: 3px;
    margin: 10px;
    font-size: 18px;
}

#topBar .user {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 15px;
}

#topBar .user i{
    margin: 0 10px;
    color: gray;
}

#topBar .user span{
    color: #244B64;
    font-size: 14px;
    display: block;
    width: -webkit-fill-available;
    text-align: right;
    border-left: 1px solid #e0e0e0;
}

#topBar .user .avatar{
    width: 35px;
    border-radius: 20px;
}

/* content wrapper */

#contentWrapper {
    padding: 25px 50px;
}

#contentWrapper h1{
    color: #8a7300;
    font-weight: normal;
    font-size: 27px;
}