#LayoutVisitors {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: calc(100vh);
}
#LayoutVisitors .side {
    background-color: #0F334C;
    justify-content: center;
    align-items: center;
    align-content: center;
    display: flex;
}

#LayoutVisitors .side img {
    width: 400px;
}

#LayoutVisitors .content {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: calc(100vh - 50px) 50px;
}

#LayoutVisitors .content .legal{
    text-align: center;
    color: #4e4e4e;
    font-size: 12px;
    font-weight: bold;
}

#LayoutVisitors .content .wrappBox{
    justify-content: center;
    display: flex;
    align-items: center;
}

#LayoutVisitors .content .wrappBox .box{
    width: 400px;
}

form h1 {
    color:#0B283B;
    letter-spacing: 8px;
    text-align: center;
}

form .desc{
    color: #A9AAAF;
    text-align: center;
}

